/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'SKFChevinOT-Light';
  src: url(../fonts/SKFChevinOT-Light.otf);
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  min-width: 320px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  background-color: #272524;
  min-width: 320px;
}

h1 {
  font: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'SKFChevinOT-Light';
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 span {
  display: block;
  font-size: 2.5rem;
  letter-spacing: 1.1px;
  font-family: 'SKFChevinOT-Light';
  text-transform: none;
}

@media (min-width: 768px) {
  h1 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  h1 span {
    margin-left: 25px;
  }
}

h2 {
  font-size: 46px;
  font-family: 'SKFChevinOT-Light';
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: #00b6f0;
  -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  text-decoration: none;
}

a:hover {
  color: #000;
}

header {
  background-color: #fff;
  padding: 95px 0 80px 0;
}

.carousel {
  max-width: 855px;
  margin: 120px auto 0;
  position: relative;
  margin-bottom: 7.5rem;
}

.carousel .item {
  text-align: center;
}

.carousel .item img {
  margin: 0 auto;
}

.carousel .item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  color: #fff;
}

.carousel-next,
.carousel-prev {
  display: none;
}

.slick-prev {
  left: 25px;
  z-index: 2000;
}

.slick-next {
  right: 25px;
  z-index: 2000;
}

.slick-dots {
  text-align: center;
  margin: 1.25rem auto 0 auto;
  bottom: auto;
}

.slick-dots li {
  height: auto;
  width: auto;
  margin-bottom: 5px;
}

.slick-dots li.slick-active button {
  background-color: #2958d2;
}

.slick-dots li button {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  background-color: #ffffff;
  margin: 0 0.5625rem;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li button:hover {
  background-color: #2958d2;
}

.container {
  width: 100%;
  max-width: 71.125rem;
  margin: 0 auto;
  text-align: center;
}

.section-content {
  max-width: 71.25rem;
  margin: 0 auto;
}

.video {
  position: relative;
  padding-bottom: 56.6%;
  max-width: 1147px;
  margin: 120px auto 0;
}

.video iframe {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.video2 {
  position: relative;
  padding-bottom: 56.6%;
  max-width: 1147px;
  margin: 50px auto 0;
}

.video2 iframe {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.box {
  max-width: 855px;
  margin: 120px auto 0;
  text-align: left;
  padding: 44px 40px;
  background-image: url("/img/wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box .content {
  padding: 35px 30px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .box {
    padding: 88px 90px;
  }
  .box .content {
    padding: 75px 40px;
  }
}

img {
  max-width: 100%;
}

.footer {
  min-height: 450px;
  background-image: url("/img/bg-picture-bearing.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 450px;
  padding-top: 1px;
}
/*# sourceMappingURL=main.css.map */